.categories-select {
    position: fixed;
    display: flex;
    border-radius: 8px;
    background-color: var(--select-color);
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    height: 150px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--select-color);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--third-color);
        border-radius: 10px;
        border: var(--select-color) solid 2px;
    }

    .category-option {
        cursor: pointer;        
        border-radius: 4px;

        &:hover {
            background-color: var(--third-color);
        }

        .category-name {
            cursor: pointer;
        }
    }
}