.training-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;

    .tabs {
        display: flex;
        width: inherit;

        .tab {
            display: flex;
            justify-content: center;
            width: -webkit-fill-available;
            padding: 10px;
            cursor: pointer;
            transition: color 0.5s ease;

            &:hover {
                color: white;
            }

            &.selected {
                color: white;
                cursor: default;
            }
        }
    }

    .main-container {
        display: flex;
        height: inherit;
        align-items: flex-start;
        padding: 10px;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        .categories-container {
            display: flex;
            align-items: center;
            gap: 10px;

            .category {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                background-color: red;
                padding: 5px 10px;
                gap: 10px;

                .category-nam {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }

                .category-exit {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .add-category {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                cursor: pointer;

                svg {
                    width: 30px;
                    height: 30px;
                }

                &:hover {
                    background-color: #858585;
                }
            }
        }
    }
}