.workout-tile{
    display: flex;
    flex-direction: column;                
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    background-color: var(--primary-color);

    .workout-tile-picture{
        img{
            border-radius: 8px;
            height: 200px;
            width: 200px;
        }
    }

    .workout-tile-title{
        text-transform: uppercase;
        font-weight: bold;
    }

    .workout-tile-categories-container{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;        
    }
}

.workout-tile:hover{
    background-color: var(--third-color);
}