.left-side-menu {
    height: inherit;
    width: inherit;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 10px;

    .item-menu {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        width: -webkit-fill-available;
        padding: 10px 15px;
        color: white !important;
        text-decoration: none !important;

        &:hover {
            background-color: var(--hover-button-color);
        }

        &.selected{
            background-color: var(--main-background-color);
        }

        .icon {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}