.app {
    --primary-color: #3b3b3b;
    --secondary-color: #535353;
    --third-color: #424242;
    overflow: hidden;
    font-family: 'Google Sans', sans-serif;
    display: flex;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 10px;

    .menu-container {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 4px;
        padding: 10px 0;
    }

    .page-container {
        display: flex;
        align-items: flex-start;
        background-color: var(--secondary-color);
        border-radius: 4px;
        padding: 20px;
        overflow: hidden;
    }

    .infos-container {
        width: 800px;
        display: flex;
        align-items: flex-start;
        background-color: var(--secondary-color);
        border-radius: 4px;
        padding: 10px 0;
    }
}