body{
    width: 100vw;
    height: 100vh;
    margin: 0px !important;
}

#app-root{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

:root{
    --main-background-color: #cacaca;
    --secondary-background-color: #979797;
    --ssecondary-background-color: linear-gradient(180deg, #979797, #cacaca);
    --not-selected-color: #818181;
    --selected-button-color: linear-gradient(0deg, #222222, #00496b);
    --hover-button-color: #4e4e4e;
}
