body{
    width: 100vw;
    height: 100vh;
    margin: 0px !important;
}

#app-root{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

:root{
    --main-background-color: #202020;
    --secondary-background-color: #303030;
    --hover-button-color: #5a5a5a;
}
